<div class="header">
    <div class="logo"><img src="../../assets/logo_web.png" alt=""></div>
    <div class="search-form-container">
        <form action="" class="search-form" #myform = "ngForm" (ngSubmit)="onSubmit(myform.value)">
            <div class="search-input-conatain">
                <input type="text" class="search-input" placeholder="Search city" name="searchInput"  ngModel>
                <img src="../../assets/icon_search_white.png" alt="" class="mangnify-glass">
            </div>
        </form>
    </div>
</div>
