{{onClick()}}
<div class="main-part">
    <div class="mob-date">{{today}}</div>
    <div class="city-state">{{responseData && responseData.location && responseData.location.city}}, {{responseData &&
        responseData.location && responseData.location.country}}</div>
    <div class="fav">
        <img src="../../assets/icon_favourite.png" alt="" class="heart-img" *ngIf="!favHeart" (click)="addFav(responseData)">
        <img src="../../assets/icon_favourite_Active.png" alt="" class="heart-img" *ngIf="favHeart" (click)="removeFav(responseData)">
        <div [ngClass]="!favHeart? 'add-to-fav-text' : 'added-to-fav-text'">{{!favHeart? "Add to favourite" : "Added to favourite"}}</div>
    </div>

    <div class="temperature-info">
        <div class="temp-img"><img [src]="'../../assets/' + weatherImg" alt="" class="weather-temp-img"></div>
        <div class="temp-deg-fer">
            <div class="temp-num">{{((responseData && responseData.current_observation &&
                responseData.current_observation.condition && responseData.current_observation.condition.temperature-32) * 5/9)| number : '1.0-0'}}<span class="deg">&deg;C</span>
            </div>
        </div>
        <div class="temp-name">{{responseData && responseData.current_observation &&
            responseData.current_observation.condition && responseData.current_observation.condition.text}}</div>
    </div>
</div>
<app-footer></app-footer>