.tabs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    /* padding-bottom: 0.3rem; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tabs-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.tab {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    cursor: pointer;
    /* text-transform: uppercase; */
}

.active{
    color: #FFD639;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    border-bottom: 1px solid #FFD639;
    padding-bottom: .3rem;
}

@media screen and (max-width: 730px) {

    .tabs-container {
       display: none;
    }

    .tabs-left{
        display: none;
    }

  
    
}