.recent-searchs-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.3rem;
}

.no-recents-searchs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
}

.no-recents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.no-recent-text {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}

.count-remove{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.recent-search-text,.clear-all-text{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    cursor: pointer;
}

.recent-card-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.recent-card {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.recent-city{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    width: 35%;
}

.recent-city-weather-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 45%;
}

.recent-city-temp {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 38px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
}

.recent-city-temp-name{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
}

.recent-card-contains {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding-bottom: .5rem;
}

img.recent-heart-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.recent-deg {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}

.recent-mob-header {
    display: none !important;
}

.recent-mobile{
    display: none;
}

.recent-weat-img {
    width: 30px;
    height: 25px;
}

@media screen and (max-width: 730px) {

    .fav-mob-header{
        display: none !important;
    }


    .count-remove {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
    }

    .recent-mob-header{
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        right: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 5%;
    }

    .mob-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .mob-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .recent-search-mob-text {
        color: #292F33;
        font-family: Roboto, sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    }

    img.recent-back-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    img.mob-search-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .recent-city, .recent-city-weather-info {
        display: none;
    }

    .mob-recent-city {
        color: #FFE539;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }

    .recent-mobile {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: .7rem;
    }

    .mob-recent-city-weather-info {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}