<div class="recent-searchs-container">
    <div class="recent-searchs">
        <div class="count-remove">
            <div class="recent-search-text">You recently searched for</div>
            <div class="clear-all-text">Clear All</div>
        </div>

        <div class="recent-card-container">
            <div class="recent-card">
                <div class="recent-city">Coorg, Karnataka</div>
                <div class="recent-city-weather-info">
                    <div class="recent-city-weather-img"><img src="../../assets/icon_mostly_cloudy_small.png" alt=""></div>
                    <div class="recent-city-temp">31 &deg;c</div>
                    <div class="recent-city-temp-name">Mostly Sunny</div>
                </div>
                <div class="heart"><img src="../../assets/icon_favourite.png" alt=""></div>
            </div>

            <div class="recent-card">
                <div class="recent-city">Coorg, Karnataka</div>
                <div class="recent-city-weather-info">
                    <div class="recent-city-weather-img"><img src="../../assets/icon_mostly_cloudy_small.png" alt=""></div>
                    <div class="recent-city-temp">31 &deg;c</div>
                    <div class="recent-city-temp-name">Mostly Sunny</div>
                </div>
                <div class="heart"><img src="../../assets/icon_favourite.png" alt=""></div>
            </div>
        </div>
    </div>
    <!-- <div class="no-recents-searchs">
        <div class="no-recents">
            <img src="../../assets/icon_nothing.png" alt="">
            <div class="no-recent-text">No Recent Search</div>
        </div>
    </div> -->
</div>
