.favourites-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.3rem;
}

.no-fav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.no-fav-found-text {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}

.no-favourites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
}

.count-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.fav-count,
.remove-text {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    cursor: pointer;
}

.fav-card-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.fav-card {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.fav-city-weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 45%;
}

.fav-city {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    width: 35%;
}

.fav-city-temp {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 38px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
}

.fav-city-temp-name {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
}

.fav-heart {
    cursor: pointer;
}

.fav-contains {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
}

.fav-deg {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}

/* modal - css */

.overlay {
    position: absolute;
    background: rgba(49, 49, 49, 0.5);
    /* height: 89.5vh; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 2;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner-content {
    background: white;
    padding: 2rem;
    border-radius: 2px;
    z-index: 3;
    position: relative;
}

.are-u-sure-text {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
}

.modal-btns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.yes-btn {
    border-radius: 2px;
    background-color: #F76B1C;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.no-btn {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.recent-mob-header {
    display: none !important;
}

.fav-mobile {
    display: none;
}

.recent-weat-img {
    width: 30px;
    height: 25px;
}

.mob-are-u-sure-text{
    display: none;
}

@media screen and (max-width: 730px) {

    .recent-mob-header {
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        right: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 5%;
    }

    .mob-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .mob-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .recent-search-mob-text {
        color: #292F33;
        font-family: Roboto, sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    }

    img.recent-back-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    img.mob-search-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .count-remove {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
    }

    .fav-mobile {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        align-items: baseline;
    }

    .fav-city{
        display: none;
    }

    .fav-city-weather-info{
        display: none;
    }

    .fav-mob-city{
        color: #FFE539;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
    }

    .fav-mob-city-weather-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .modal-inner-content {
        background: white;
        padding: 2rem;
        border-radius: 2px;
        z-index: 3;
        position: relative;
    }

    .are-u-sure-text {
        display: none !important;
    }

    .mob-are-u-sure-text {
        color: rgba(0, 0, 0, 0.54);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        display: flex;
    }

    .no-btn {
        color: #673AB7;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 16px;
        text-align: center;
        cursor: pointer;
    }

    .yes-btn {
        color: #673AB7;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 16px;
        text-align: center;
        background-color: transparent !important;
        padding: 0.5rem 0rem  0.5rem 2rem !important;
        cursor: pointer;
    }



}