<div class="favourites-container">

    <div class="favourites">
        <div class="count-remove">
            <div class="fav-count">6 City added as favourite</div>
            <div class="remove-text" (click)="openModal()">Remove All</div>
        </div>
    
        <div class="fav-card-container">
            <div class="fav-card">
                <div class="fav-city">Udupi, Karnataka</div>
                <div class="fav-city-weather-info">
                    <div class="weather-img"><img src="../../assets/icon_mostly_cloudy_small.png" alt="" class="fav-city-weather-img"></div>
                    <div class="fav-city-temp">30 &deg;c</div>
                    <div class="fav-city-temp-name">Mostly Sunny</div>
                </div>
                <div class="fav-heart"><img src="../../assets/icon_favourite_Active.png" alt=""></div>
            </div>
        
            <div class="fav-card">
                <div class="fav-city">Udupi, Karnataka</div>
                <div class="fav-city-weather-info">
                    <div class="weather-img"><img src="../../assets/icon_mostly_cloudy_small.png" alt="" class="fav-city-weather-img"></div>
                    <div class="fav-city-temp">30 &deg;c</div>
                    <div class="fav-city-temp-name">Mostly Sunny</div>
                </div>
                <div class="fav-heart"><img src="../../assets/icon_favourite_Active.png" alt=""></div>
            </div>
        </div>
    </div>
    

   
    <!-- <div class="no-favourites">
        <div class="no-fav">
            <img src="../../assets/icon_nothing.png" alt="">
            <div class="no-fav-found-text">No Favourites added</div>
        </div>
    </div> -->


</div>

<div class="modal" *ngIf="show">
    <div class="overlay">
        <div class="modal-content">
            <div class="modal-inner-content">
                <div class="are-u-sure-text">Are you sure want to remove all the favourites?</div>
                <div class="modal-btns">
                    <div class="no-btn" (click)="closeModal()">NO</div>
                    <div class="yes-btn">YES</div>
                </div>
            </div>
        </div>
    </div>
</div>

